
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}



body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 11px; /* Ukuran font utama pada tag <p></p> */
    background-color: #5988FF; /* Warna latar belakang laman web */
    color: #000000; /* Warna teks */ 
    
}
h1 {
    color: #ffffff; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: 'Inter', sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
    
}

h1:hover { animation: color-change 3s infinite; }
